body {
  color: #222;
  background: #eee url("images/tex2res5.png");
  font: 14px / 21px $primaryFontFamily;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  body{ 
      background-image: url("images/tex2res5@2x.png") no-repeat;
  }
}

a {
  color: $textColor;
  text-decoration: none;

  &:visited{
    color: $textColor;
    text-decoration: none;
  }

  &:hover{
    color: $primaryColor;
  }
}

h1,h2,h3,h4,h5,h6,#blog-title{
  font-weight: bold;
  line-height: auto;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.3em;
}

h4{
  font-size: 1.2em;
}

h5,h6{
  font-size: 1em;
}

code {
  font-family: "Courier New", Courier, monospace;
}

p,ul,ol{
  margin-bottom: 1em;
}

/* Form Styles */

input,
textarea{
  border: 1px solid #ccc;
  @include border-radius(4px);
  outline: none;
  padding: 8px 8px;

  &:focus{
    outline: none;
    border: 1px solid #1aa4ec;
    @include box-shadow(0 0 5px rgba(#1aa4ec,.5));
  }
}

input[type="submit"],
button,
.btn{
  border: 0;
  padding: 8px 12px;
  line-height: 1em;
  color: white;
  font-size: .9em;
  font-weight: bold;
  @include text-shadow(0 -1px 0 rgba(0,0,0,0.4));
  @include background-image(linear-gradient($primaryColor,darken($primaryColor,8%)));
  @include border-radius(4px);
  @include box-shadow(0 1px 0 rgba(255,255,255,0.2) inset,0 2px 4px rgba(0,0,0,0.2));
  margin-bottom: 20px;
  border: 1px solid darken($primaryColor,8%);

  &:focus{
    outline: none;
    border: 1px solid #1aa4ec;
    @include box-shadow(0 0 5px rgba(#1aa4ec,.5));
  }
}

blockquote{
  font-size: 1.8em;
  line-height: 1.2em;
  font-family: $tertiaryFontFamily;
  margin-bottom: 1em;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
  color: #666;

  cite{
    font-family: $tertiaryFontFamily;
    font-size: .62em;

    &:before{
      content: "- ";
    }
  }

  p:last-child{
    margin-bottom: 0;
  }
}

/* End Form Styles */