.hentry,
#secondary .widget{
  @include box-shadow(0 1px 6px rgba(0,0,0,.2),0 0 1px rgba(0,0,0,0.7));
}

.archive #content,
.home #content{
  max-width: $siteWidth;
  margin: 0 auto;
}

#masonry{
  max-width: $siteWidth;
  margin: 0 auto;

  .hentry {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
  }
}

.single {
  #container {
    max-width: $siteWidth*.794;
    height: auto;
    margin: 20px auto;
    padding: 20px;
  }

  #content {
    float: left;
    width: 70%;
    margin-right: 2%;
    background-color: white;
  }

  .hentry{
    padding: 20px;
  }

  #secondary {
    float: left;
    width: 28%;

    .widget {
      padding: 20px;
      background: #fff;
      margin-bottom: 20px;

      h3 {
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}

h1.page-title {
  margin-top: 0.5em;
}

.avatar {
  vertical-align: middle;
}

.wp-post-image,
.entry-title,
.category{
  margin-bottom: 1em;
}

.singular #content {
  padding: 20px 0;

  .entry-title{
    font-size: 1em;
    font-family: "Source Sans Pro";
    margin-bottom: .5em;
  }

  .author {
    margin-bottom: 15px;

    a {
      font-weight: bold;
    }
  }

  .tag a {
    font-size: .8em;
    margin-bottom: 10px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 2px 5px;
    @include border-radius(6px);

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .post-meta {
    margin-bottom: 1em;
  }

}