/* -------------------------------------------------------------- 
   
   Set default typography based on Blueprint
   
   http://code.google.com/p/blueprintcss/
     
-------------------------------------------------------------- */   

body, input, textarea, kbd {
    color:#000;    
    font: 12px "Helvetica Neue", Helvetica, Arial, Sans-serif;
    line-height:18px;
}

/* Headings
-------------------------------------------------------------- */

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6, 
#discussion h1,
#discussion h2,
#discussion h3,
#discussion h4,
#discussion h5,
#discussion h6,
#header,
#header input,
#header button,
#footer,
.said,
.time,
.comment-reply-link,
#more a,
legend,
label{ 
	font-family: "Bebas Neue", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6, .menu, .sf-menu { 
	font-weight: normal;
	clear: both;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 1em;
	line-height: 120%;
}
h1 { font-size: 2.6em; margin-bottom: 0.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4,
h5,
h6 { font-size: 1em; font-weight: bold; }

/* Text elements
-------------------------------------------------------------- */

p {
    margin-bottom:18px;
}
ul {
	margin: 0 0 18px 0;
}
ol {
	margin: 0 0 18px 0;
}
ul {
	list-style:none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}
dl	{
    margin:0 1.5em;
}
dt {
    font-weight:bold;
}
dd {
	margin-bottom:18px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style:normal;
}
pre {
	font:11px Monaco, monospace;
	line-height:18px;
	margin-bottom:18px;
}
code {
	font:11px Monaco, monospace;
}
abbr, acronym {
  border-bottom:1px dotted #333;
  cursor: help;
}
ins {
	text-decoration:none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Pullquotes
-------------------------------------------------------------- */

blockquote.left {
	float: left;
	margin-left:0;
	margin-right:20px;
	text-align: right;
	width: 33%;
}
blockquote.right {
	float: right;
	margin-left:20px;
	margin-right:0;
	text-align: left;
	width: 33%;
}

/*

Adapt the following for use in your Child Themes when using
different font-sizes and line-heights

body, input, textarea {
    font: --px Arial,sans-serif;
    line-height:--px;
}
p, ul, ol, dd, pre {
    margin-bottom:--px;
}
pre, code {
	font:--px Monaco, monospace;
	line-height:--px;
}

All other styles can be overridden--or ignored!--in Child Theme stylesheets

*/