body{
	background: #DFD5B5;
}

#content{
	background-color: #FBFAF0;
	border-bottom-color: #EBE3CB;
}

a,
a:link{
	color: #263D59;
	border-bottom: rgba(255,255,255,0.05);
}

a:visited,
a:hover,
a:active{
	color: #37587F;
	border-bottom: rgba(255,255,255,0.2);
}

#content{
	background-color: #FBFAF0;
	border-bottom-color: #EBE3CB;
}

#header,
#more a,
#content a.button,
#content input[type="submit"],
#content button{ background: #1f3753 url("images/blue/header-bg.png") repeat-x center center; color: #222; border-color: #172A3F; color: white; }

#more a{ border-color: none; }
#more a:hover{ background-color: #1f3753; }
#more a:active{ background-color: #233A70; }

#header a{ color: #9BABBF; }

.sf-menu a:hover, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .list h2{ background-color: #0F1D2F; }

.sf-menu ul li:hover, .sf-menu ul li.sfHover, .sf-menu ul a:focus, .sf-menu ul a:hover, .sf-menu ul a:active, .sf-menu li li, .sf-menu li li li, #header #searchform input#s{ background-color: #172A3F; }

#header #searchform input#s {
	color:#637E9F;
}

#header #searchform input#s:focus {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	color: #0F1D2F;
}

#header #searchform input[type="submit"] {
	background-color:#637E9F;
	color:#0F1D2F;
}

.list h2,
.hentry{
	box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.list h2{
	color: #555;
	background-color: white;
}

.list p{
	margin-bottom: 0;	
}

#footer{
	background-color: #F3EFE0;
}

#footer a{
	color: #0F1D2F;	
}

#footer a:hover{
	color: #9C3;	
}

.loading{
	background-color: transparent;
	background-image: url("images/blue/ajax-loader.gif");
}

.hentry{
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: white;
}

.items a img{
	box-shadow: none;	
	-webkit-box-shadow: none;	
	-moz-box-shadow: none;	
}

#comments ol li,
.formcontainer{
	background: #fff;
	border-color: #EBE3CB;
	color: #222;
}

#comments h3,
.list h2,
#footer,
#footer a,
#commentform label,
.formcontainer,
#comments ol li,
#respond h3{
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
}

#commentform input[type="text"],
#commentform textarea{
	background-color: #eee;
	color: #555;
}

#commentform input[type="text"]:focus,
#commentform textarea:focus{
	background-color: white;
}

h1,
#respond h3,
#comments h3{
	color: #222;
}

#comments ol .children li,
#comments ol .children .formcontainer{
	background-color: #FBFAF0;
	border: 3px solid #EBE3CB;
}

#comments ol .children li li,
#comments ol .children li .formcontainer{
	background-color: #fff;
	border: 3px solid #EBE3CB;
}

#comments ol .children li li li,
#comments ol .children li li .formcontainer{
	background-color: #eee;
	border: 3px solid #ddd;
}

#cancel-comment-reply a{
	background-color: #CFC29B;
	color: white;
}

#comments .comment-reply-link{
	color: #263D59;
}

#comments .comment-reply-link:hover{
	color: #263D59;
}

#comments .time{
	color: #555;
}

.aside .widgetcontainer{
	color: #000;
	background-color: #fff;
	border-color: #EBE3CB;
}

.aside .widgetcontainer ul li:first-child,
.aside .widgetcontainer ul li{
	border-color: #eee;
}